<mat-card class="list-files-card">
  <mat-card-header>
    <mat-card-title>Files</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-nav-list>
      <a mat-list-item routerLink="/files/{{file.key}}" *ngFor="let file of files | async">
        <strong>{{ file.file.title }}</strong>
      </a>
    </mat-nav-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" type="button" routerLink="/">Back</button>
    <button mat-raised-button color="accent" type="button" (click)="addFile()">Add File</button>
  </mat-card-actions>
</mat-card>