<div class="row columns">
  <button (click)="login()" *ngIf="!(loggedIn | async)">Anonymous Login</button>
  <button (click)="logout()" *ngIf="loggedIn | async">Logout</button>
  <div id="userid" *ngIf="loggedIn | async">User ID: {{ (user | async)?.uid }}</div>

  <div id="details-container">
      <p *ngFor="let article of articlesService.getArticles() | async">
        <app-edit-article [article]="article" [key]="article.$key" (onRemove)="removeArticle($event)" (onChange)="updateArticle($event)"></app-edit-article>
      </p>
      <button (click)="addArticle()">+</button>
  </div>
</div>

