#details-container {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    width:100%;
}

#details-container p {
    background:#fff;
    padding:1.4em;
    color:#696969;
    margin: 12px;
    width:400px;
}

img {
    display:block;
    margin-bottom:12px;
}