<mat-sidenav-container>
  <mat-sidenav-content>
    <h1>Fitchpork</h1>
    <ng-container *ngIf="loggedIn | async">
      <button mat-raised-button (click)="logout()">Logout</button>
      <span id="userid">User: {{ (user | async)?.email }}</span>
    </ng-container>
    <ng-container *ngIf="!(loggedIn | async)">
      <input matInput placeholder="Email" [(ngModel)]="userToLogIn.email">
      <input matInput placeholder="Password" [(ngModel)]="userToLogIn.password">
      <button mat-raised-button (click)="login()">Login</button>
      <div *ngIf="errorMessage">{{ errorMessage }}</div>
    </ng-container>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>