<div *ngIf="article">
  <strong>{{ article.title }}</strong> - {{ article.date }} - {{ key }}<br/>
  <ng-container *ngIf="!editingMode">
    {{ article.text }}<br/>
  </ng-container>
  <ng-container *ngIf="editingMode">
    <form #textForm="ngForm">
      <input type="text" [(ngModel)]="article.text" name="text">
    </form>
  </ng-container>
   <ng-container *ngIf="loggedIn | async"> 
    <span id="edit" (click)="edit()">Edit</span>
    <span id="remove" (click)="emitRemove()">Remove</span>
   </ng-container> 
</div>