<div *ngIf="file">
  <p>
    <mat-form-field>
      <input matInput placeholder="Title" [(ngModel)]="file.title" name="title">
    </mat-form-field>
  </p>
  <p>
    Current filename: {{ file.filename }}
    <br>
    <button type="button" mat-raised-button (click)="fileInput.click()">Upload a new file</button>
    <input hidden #fileInput type="file" (change)="handleFiles(fileInput.files)">
    <br>
    <span *ngIf="uploadPercent">Upload {{ uploadPercent }} % completed.</span>
  </p>
  <p>
    <mat-form-field>
      <mat-select placeholder="File type" [(value)]="file.type">
        <mat-option value="file">File</mat-option>
        <mat-option value="image">Image</mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <p>
    URL: {{ file.url }}
  </p>
  <p>
    <img *ngIf="showImage()" [src]="file.url" [alt]="imageAlt">
  </p>
  <p>
    <button mat-raised-button color="accent" (click)="cancel()">Back</button>
    <button mat-raised-button color="accent" (click)="delete()">Delete</button>
  </p>
</div>